In [ ]:
# SYEDA ZAINAB FATIMA
# WS25-PAK-INP-AI01

In [ ]:
# FOR LOOP AND NESTED LOOP

In [1]:
# FOR LOOP
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(2,13):
  print(i)

2
3
4
5
6
7
8
9
10
11
12

In [3]:
for i in "Pakistan":
  print(i)

P
a
k
i
s
t
a
n

In [4]:
for x in "AI Cadmey":
  print(x)

A
I

C
a
d
m
e
y

In [5]:
for x in "SPACE EXPLORATION":
  print(x)

S
P
A
C
E

E
X
P
L
O
R
A
T
I
O
N

In [18]:
name = "SyedaZainabFatima"
for x in name:
  print(name)

SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima
SyedaZainabFatima

In [13]:
interest = "Space exploration"
for i in interest:
  print(interest)

Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration
Space exploration

In [16]:
for i in range(5):
  print("Space Exploration")

Space Exploration
Space Exploration
Space Exploration
Space Exploration
Space Exploration

In [17]:
for x in range(5,10):
  print("AI Cadmey")

AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey

In [19]:
for x in range(10,16):
  print("I am a graduate student")
  print("I am studying AI")

I am a graduate student
I am studying AI
I am a graduate student
I am studying AI
I am a graduate student
I am studying AI
I am a graduate student
I am studying AI
I am a graduate student
I am studying AI
I am a graduate student
I am studying AI

In [44]:
for z in range(5):
  print("Aspiring AI")

Aspiring AI
Aspiring AI
Aspiring AI
Aspiring AI
Aspiring AI

In [48]:
Platform_1= "Linkdin"
Platform_2= "github"
for x in Platform_1:
  print(Platform_1)
for y in Platform_2:
  print(Platform_2)

Linkdin
Linkdin
Linkdin
Linkdin
Linkdin
Linkdin
Linkdin
github
github
github
github
github
github

In [50]:
Instructor_names_1 = "Aeman"
Instructor_names_2 = "Eman"
Instructor_names_3 = "Zain ul Abideen"

for y in range(4):
  print(Instructor_names_1)
  print(Instructor_names_2)
  print(Instructor_names_3)

Aeman
Eman
Zain ul Abideen
Aeman
Eman
Zain ul Abideen
Aeman
Eman
Zain ul Abideen
Aeman
Eman
Zain ul Abideen

In [53]:
name = "Syeda Zainab Fatima"
interest_1 = "Space"
interest_2 = "Multiverse and time travel"
Domain = "AI"
for i in range(5):
  print(name)
  print(interest)
  print(interest_2)
  print(Domain)

Syeda Zainab Fatima
Space
Multiverse and time travel
AI
Syeda Zainab Fatima
Space
Multiverse and time travel
AI
Syeda Zainab Fatima
Space
Multiverse and time travel
AI
Syeda Zainab Fatima
Space
Multiverse and time travel
AI
Syeda Zainab Fatima
Space
Multiverse and time travel
AI

In [22]:
# NESTED LOOP
for i in range(3):
  print(i)
  for j in range(5):
    print(i*j)

0
0
0
0
0
0
1
0
1
2
3
4
2
0
2
4
6
8

In [24]:
for i in range(1,3):
  print("space")
  for j in range(1,4):
    print(i*j)

space
1
2
3
space
2
4
6

In [25]:
for x in range(5):
  print("My name is Zainab")
  for y in range(2,5):
    print("I am a graduate student")

My name is Zainab
I am a graduate student
I am a graduate student
I am a graduate student
My name is Zainab
I am a graduate student
I am a graduate student
I am a graduate student
My name is Zainab
I am a graduate student
I am a graduate student
I am a graduate student
My name is Zainab
I am a graduate student
I am a graduate student
I am a graduate student
My name is Zainab
I am a graduate student
I am a graduate student
I am a graduate student

In [26]:
for i in range(7):
  print("Dark Matter")
  for j in range(5):
    print("I Love Dark Matter")

Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter
I Love Dark Matter

In [29]:
for i in range(3):
  print("Zainab")
  for j in range(2):
    print(i+j)

Zainab
0
1
Zainab
1
2
Zainab
2
3

In [30]:
for i in range(4):
  print("Jupyter")
  for x in range(5):
    print("the largest planet")

Jupyter
the largest planet
the largest planet
the largest planet
the largest planet
the largest planet
Jupyter
the largest planet
the largest planet
the largest planet
the largest planet
the largest planet
Jupyter
the largest planet
the largest planet
the largest planet
the largest planet
the largest planet
Jupyter
the largest planet
the largest planet
the largest planet
the largest planet
the largest planet

In [35]:
for i in range(5,15):
  print("Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI")
  for j in range(5):
    print(i+j)

Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
5
6
7
8
9
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
6
7
8
9
10
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
7
8
9
10
11
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
8
9
10
11
12
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
9
10
11
12
13
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
10
11
12
13
14
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
11
12
13
14
15
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
12
13
14
15
16
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
13
14
15
16
17
Hello I am an intern at AI Cadmey , I am very excited to learn about space and AI
14
15
16
17
18

In [37]:
for i in range(5):
  print(i+i)
  for j in range(5):
    print(i+j)

0
0
1
2
3
4
2
1
2
3
4
5
4
2
3
4
5
6
6
3
4
5
6
7
8
4
5
6
7
8

In [39]:
for i in range(5):
  print("life at Mars")
  for j in range(4):
    print("There could be a possibility of life at mars, we will get to know about it in the future")

life at Mars
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
life at Mars
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
life at Mars
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
life at Mars
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
life at Mars
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future
There could be a possibility of life at mars, we will get to know about it in the future

In [40]:
for i in range(6):
  print("SPACE EXPLORATION")
  for j in range(3):
    print(i*j)

SPACE EXPLORATION
0
0
0
SPACE EXPLORATION
0
1
2
SPACE EXPLORATION
0
2
4
SPACE EXPLORATION
0
3
6
SPACE EXPLORATION
0
4
8
SPACE EXPLORATION
0
5
10

In [43]:
for z in range(3):
  print(z-z)
  for x in range(2):
    print(x)

0
0
1
0
0
1
0
0
1